{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div id="breadcrumb" class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li><a href="{{ path('admin_contrats') }}">Mes contrats</a></li>
                <li>Bulletins</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-content">
                    <table class="table">
                        <thead>
                            <th>Année</th>
                            <th>Mois</th>
                            <th></th>
                        </thead>
                        <tbody>
                        {% for bulletin in bulletins %}
                            <tr>
                                <td>{{ bulletin.annee }}</td>
                                <td>{{ bulletin.mois }}</td>
                                <td><a href="{{ path('admin_bulletins_read', { id : bulletin.id }) }}"<i class="fa fa-file" /></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}