{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div id="breadcrumb" class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li><a href="{{ path('admin_contrats') }}">Mes contrats</a></li>
                <li><a href="{{ path('admin_bulletins', { contratId : contratId }) }}">Bulletins</a></li>
                <li>Nouveau bulletin</li>
            </ol>
        </div>
    </div>

    {{ form_widget(bulletinForm) }}

<div class="row full-calendar">
    <div class="col-sm-3">
        <div id="external-events">
            <h4 class="page-header" id="events-templates-header">Evénements</h4>
            <div class="external-event">Absence payée</div>
            <div class="external-event">Absence non payée</div>
            <div class="external-event">Congé payé</div>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="calendar"></div>
    </div>
</div>

{% endblock %}

{% block specificsJavascripts %}
<script>
$(document).ready(function()
{
    $('#external-events div.external-event').each(function()
    {
        $(this).data('eventObject', {
            title: $.trim($(this).text())
        });
        $(this).draggable({
            zIndex: 999,
            revert: true,
            revertDuration: 0
        });
    });

    var calendar = $('#calendar').fullCalendar({
        events: [
            {% for evenement in evenements %}
            {
                start: '{{ evenement.date | date('Y-m-d') }}T{{ evenement.heureDebut | date('H:i:s') }}',
                end: '{{ evenement.date | date('Y-m-d') }}T{{ evenement.heureFin | date('H:i:s') }}',
                title: '{% if evenement.type == 2 %}Congé payé{% endif %}',
                allDay: {% if evenement.heureDebut | date('H:i') == '00:00' and evenement.heureFin | date('H:i') == '00:00' %}true{% else %}false{% endif %}
            },
            {% endfor %}
        ],
        defaultDate: moment('{{ annee }}-{{ mois }}-01'),
        header: {
            left: 'prev,next today',
            center: '',
            right: ''
        },
        defaultView: 'agendaWeek',
        selectable: true,
        lang: 'fr',
        editable: true,
        droppable: true,
        select: function(start, end, allDay)
        {
            if(start < moment('{{ annee }}-{{ mois }}-01') || end > moment('{{ annee }}-{{ mois }}-31'))
            {
                console.log('invalid range');
                calendar.fullCalendar('unselect');
                return;
            }

            console.log('select');
            $.ajax({
                method: 'POST',
                url: '{{ path('admin_evenement_set', {contratId: contratId}) }}',
                data: {
                    evenement: {
                        date : start.format('YYYY-MM-DD'),
                        heureDebut : start.format('HH:mm'),
                        heureFin : end.format('HH:mm'),
                        contratId : '{{ contratId }}',
                        type : 1
                    }
                }
            })
            .success(function(msg)
            {
                calendar.fullCalendar('clientEvents', function(event)
                {
                    if(start.format('YYYY-MM-DD') == event.start.format('YYYY-MM-DD'))
                    {
                        calendar.fullCalendar( 'removeEvents', event._id );
                    }
                });

                calendar.fullCalendar('renderEvent', {
                    title: '',
                    description: '',
                    start: start.format('YYYY-MM-DD HH:mm:ss'),
                    end: end.format('YYYY-MM-DD HH:mm:ss'),
                }, true);
            })
            .error(function(Xhr, textStatus)
            {
                calendar.fullCalendar('unselect');
            })
            ;
        },
        eventDrop: function(event, delta, revertFunc)
        {
            console.log('eventDrop');
            if(event.start.format('YYYY-MM-DD') != moment(event.start._i).format('YYYY-MM-DD'))
            {
                revertFunc();
            }

            $.ajax({
                method: 'POST',
                url: '{{ path('admin_evenement_set', {contratId: contratId}) }}',
                data: {
                    evenement: {
                        date : event.start.format('YYYY-MM-DD'),
                        heureDebut : event.start.format('HH:mm'),
                        heureFin : event.end.format('HH:mm'),
                        contratId : '{{ contratId }}',
                        type : 1
                    }
                }
            })
            .success(function(msg)
            {
                calendar.fullCalendar('unselect');
            })
            .error(function(Xhr, textStatus)
            {
                revertFunc();
            })
            ;
        },
        eventResize: function(event, delta, revertFunc)
        {
            console.log('eventResize');
            $.ajax({
                method: 'POST',
                url: '{{ path('admin_evenement_set', {contratId: contratId}) }}',
                data: {
                    evenement: {
                        date : event.start.format('YYYY-MM-DD'),
                        heureDebut : event.start.format('HH:mm'),
                        heureFin : event.end.format('HH:mm'),
                        contratId : '{{ contratId }}',
                        type : 1
                    }
                }
            })
            .success(function(msg)
            {
                calendar.fullCalendar('unselect');
            })
            .error(function(Xhr, textStatus)
            {
                revertFunc();
            })
            ;
        },
        drop: function(date, allDay)
        {
            console.log('drop');

            if(date < moment('{{ annee }}-{{ mois }}-01') || date > moment('{{ annee }}-{{ mois }}-31'))
            {
                console.log('invalid range');
                calendar.fullCalendar('unselect');
                return;
            }

            var originalEventObject = $(this).data('eventObject');
            var copiedEventObject = $.extend({}, originalEventObject);
            copiedEventObject.start = date;
            copiedEventObject.allDay = allDay;

            $.ajax({
                method: 'POST',
                url: '{{ path('admin_evenement_set', {contratId: contratId}) }}',
                data: {
                    evenement: {
                        date : date.format('YYYY-MM-DD'),
                        contratId : '{{ contratId }}',
                        type : 2
                    }
                }
            })
            .success(function(msg)
            {
                calendar.fullCalendar('clientEvents', function(event)
                {
                    if(date.format('YYYY-MM-DD') == event.start.format('YYYY-MM-DD'))
                    {
                        calendar.fullCalendar( 'removeEvents', event._id );
                    }
                });

                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
            })
            .error(function(Xhr, textStatus)
            {
                calendar.fullCalendar( 'unselect' )
            })
            ;
        },
        eventClick: function(calEvent, jsEvent, view)
        {
            console.log('eventClick');
            if(confirm('Etes vous sur de vouloir supprimer cet événement ?'))
            {
                $.ajax({
                    method: 'DELETE',
                    url: '{{ path('admin_evenement_delete', {contratId: contratId}) }}',
                    data: {
                        date : calEvent.start.format('YYYY-MM-DD'),
                    }
                })
                .success(function(msg)
                {
                    calendar.fullCalendar( 'removeEvents', calEvent._id );
                })
            };
        }
    });
});
</script>
{% endblock %}