{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div id="breadcrumb" class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li><a href="{{ path('admin_contrats') }}">Mes contrats</a></li>
                <li><a href="{{ path('admin_contrats_read', {id : contrat.id}) }}">Contrat {{ contrat.id }}</a></li>
                <li><a href="{{ path('admin_bulletins', {contratId : contrat.id}) }}">Bulletins</a></li>
                <li>>Nouveau</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div id="actions" class="box-content">
                    <a href="{{ path('admin_evenements_list', { contratId : contrat.id, mois : date() | date('m'), annee : date() | date('Y')}) }}"><i class="fa fa-calendar"></i> Voir le planning</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div clas="box-header">
                    <div class="box-name">
                        <i class="fa fa-user"></i>Heures du mois
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link" data-toggle="collapse">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content" style="display: none">
                    <table class="table">
                        <thead>
                            <th>Date</td>
                            <th>Type</th>
                            <th>Heure début</th>
                            <th>Heure fin</th>
                            <th>Durée</th>
                        </thead>
                        <tbody>
                            {% for evenement in evenements  %}
                            <tr>
                                <td>{{ evenement.date | date('Y-m-d') }}</td>
                                <td>{{ evenement.type.label }}</td>
                                <td>
                                {% if(evenement.typeId == constant('Assmat\\DataSource\\Constants\\Evenements\\Type::GARDE')) %}
                                    {{ evenement.heureDebut | date('h:i') }}</td>
                                {% endif %}
                                <td>
                                {% if(evenement.typeId == constant('Assmat\\DataSource\\Constants\\Evenements\\Type::GARDE')) %}
                                    {{ evenement.heureFin | date('h:i') }}</td>
                                {% endif %}
                                <td>
                                {% if(evenement.typeId != constant('Assmat\\DataSource\\Constants\\Evenements\\Type::GARDE')) %}
                                    {{ formatDecimalToHour(contrat.heuresJour) }}
                                {% else %}
                                    {{ evenement.duree | date('%H') }}h{{ evenement.duree | date('%I') }}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div clas="box-header">
                    <div class="box-name">
                        <i class="fa fa-user"></i>Salaire net : {{ bulletin.salaireNet }} €
                    </div>
                    <div class="box-icons">
                        <a class="collapse-link" data-toggle="collapse">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table">
                        <thead>
                            <th>Label</td>
                            <th>Base</th>
                            <th>Taux / Qté</th>
                            <th>Gain</th>
                            <th>Retenue</th>
                        </thead>
                        <tbody>
                        {% for ligne in bulletin.lignes %}
                            <tr>
                                <td>{{ ligne.label }}</td>
                                <td>{{ ligne.base }}</td>
                                <td>{{ ligne.taux ? ligne.taux ~ '%' }}{{ ligne.quantite ? ligne.quantite }}</td>
                                <td>{{ ligne.action == 1 ? ligne.valeur }}</td>
                                <td>{{ ligne.action == 2 ? ligne.valeur }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}