<!DOCTYPE html>
<html lang="fr">
    <head>

        <style>
            * {
                font-family: verdana;
                margin: 0;
                padding: 0;
                font-size: 16px;
            }
            body {
                padding: 20px 0 !important;
            }
            .clear {
                clear:both;
            }
            .column {
                float: left;
            }
            .right {
                text-align: right;
            }
            .left {
                text-align: left;
            }
            .colored {
                background: #eee;
            }
            #container {
                width:1000px;
                margin: 0 auto;
            }
            #title {
                background: #0B8CBF;
                text-align: center;
                font-weight: bold;
                padding: 10px 0;
            }
            #contacts {
                margin-top: 15px;
            }
            #contacts .contact {
                width: 490px;
                background: #eee;
                padding: 5px 0;

                text-align: center;
            }
            #contacts #employe {
                margin-left: 20px;
            }

            #contacts .contact li {
                list-style: none;
            }

            #contacts .contact .type {
                font-weight: bold;
            }

            #contenu {
                padding-top: 15px;
            }
            #heures {
                width: 200px;
                height: 100%;
            }
            #heures li {
                list-style: none;
                clear: both;
            }
            #heures div {
                width: 75px;
                padding: 0 2px;
                height: 30px;
                float: left;
                overflow: hidden;
                line-height: 30px;
                white-space: nowrap;
            }
            #heures .large {
                width: 160px;
                font-size: 13px;
            }
            #heures .date {
                width: 20px;
                font-weight: bold;
                border-right: 1px solid #ddd;
            }
            #heures .duree {
                background: #eee;
            }
            #lignes table, #conges-payes table, #heures-semaine table {
                width: 99%;
                border-collapse: collapse;
            }
            #lignes {
                min-height: 300px;
            }
            #lignes, #conges-payes, #heures-semaine {
                width: 770px;
                padding: 5px;
                border: 1px solid #eee;
                margin-left: 15px;
            }
            #lignes th, #conges-payes th, #heures-semaine th {
                background: #eee;
                font-weight: bold;
                height: 30px;
                padding: 2px 5px;
            }
            #lignes td, #conges-payes td, #heures-semaine td {
                padding: 2px 5px;
                height: 30px;
                min-width: 100px;
                border-bottom: 1px solid #eee;
            }
            #heures-semaine td {
                height: 10px;
            }
            #lignes .subtotal {
                padding: 5px;
                background: #79BED9;
                font-weight: bold;
                text-transform: uppercase;
            }
            #lignes .total, #conges-payes .total {
                background: #0B8CBF;
                font-weight: bold;
                padding: 5px;
                text-transform: uppercase;
            }
            #lignes .subtotal, #lignes .total {
                border: none;
            }
            #conges-payes, #heures-semaine {
                margin-left: 215px;
                margin-top: 15px;
            }
        </style>

    </head>
    <body>
        <div id="container">
            <div id="title">BULLETIN DE PAYE {{ "%02d"|format(bulletin.mois) }}/{{ bulletin.annee}}</div>
            <div id="contacts" class="clear">
                <div id="employeur" class="contact column">
                    {% set employeur = contrat.employeur.contact %}
                    <div class="type">Employeur</div>
                    <ul>
                        <li>{{ employeur.nom | upper }} {{ employeur.prenom | capitalize }}</i>
                        <li>{{ employeur.adresse }}</i>
                        <li>{{ employeur.codePostal }} {{ employeur.ville | upper }}</li>
                        <li>N° PAJEMPLOI : {{ contrat.employeur.pajeEmploiId }}</li>
                    </ul>
                </div>
                <div id="employe" class="contact column">
                    {% set employe = contrat.employe.contact %}
                    <div class="type">Employé</div>
                    <ul>
                        <li>{{ employe.nom | upper}} {{ employe.prenom | capitalize}}</i>
                        <li>{{ employe.adresse }}</i>
                        <li>{{ employe.codePostal }} {{ employe.ville | upper }}</li>
                        <li>N° SS : {{ contrat.employe.ssId }}</li>
                    </ul>
                </div>
            </div>

            <div id="contenu" class="clear">
                <div id="heures" class="column">
                    <ul>
                        {% for evenement in evenements  %}
                        {% set class = "" %}
                        {% if evenement.type.id == constant('Assmat\\DataSource\\Constants\\Evenements\\Type::GARDE') %}
                            {% set class = 'colored' %}
                        {% endif %}
                        <li>
                            <div class="date {{ class }}">{{ evenement.date | date('d') }}</div>
                            <div class="large {{ class }}">
                            {% if evenement.type.id == constant('Assmat\\DataSource\\Constants\\Evenements\\Type::GARDE') %}
                                {% if(evenement.typeId == constant('Assmat\\DataSource\\Constants\\Evenements\\Type::GARDE')) %}
                                    {{ evenement.duree | date('%H') }}h{{ evenement.duree | date('%I') }}
                                {% endif %}
                            {% else %}
                                {{ evenement.type.label }}
                            {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div id="lignes" class="column">
                    <table class="table">
                        <thead>
                            <th></td>
                            <th class="right">BASE</th>
                            <th class="right">QUANTITE</th>
                            <th class="right">GAIN</th>
                            <th class="right">RETENUE</th>
                        </thead>
                        <tbody>

                    {{ _self.displayLignes(bulletin.lignes, constant('Assmat\\DataSource\\Constants\\Lignes\\Context::REMUNERATION')) }}
                    <tr class="subtotal">
                        <td>Salaire brut</td>
                        <td colspan="4" class="right">{{ bulletin.salaireBrut | number_format(2, ',', ' ') }}</td>
                    </tr>
                    {{ _self.displayLignes(bulletin.lignes, constant('Assmat\\DataSource\\Constants\\Lignes\\Context::COTISATION')) }}
                    <tr class="subtotal">
                        <td>Total cotisations</td>
                        <td colspan="4" class="right">{{ bulletin.cotisationsMontant | number_format(2, ',', ' ') }}</td>
                    </tr>
                    {{ _self.displayLignes(bulletin.lignes, constant('Assmat\\DataSource\\Constants\\Lignes\\Context::INDEMNITE')) }}
                    <tr class="subtotal">
                        <td>Total indemnites</td>
                        <td colspan="4" class="right">{{ bulletin.indemnitesMontant | number_format(2, ',', ' ') }}</td>
                    </tr>
                    <tr class="total">
                        <td>Net à payer</td>
                        <td colspan="4" class="right">{{ bulletin.salaireNet | number_format(2, ',', ' ') }}</td>
                    </tr>
                        </tbody>
                    </table>
                </div>
                <div id="conges-payes" class="column clear">
                    <table class="table">
                        <thead>
                            <th class="left">CONGES PAYES</td>
                            <th class="right">ACQUIS</th>
                            <th class="right">PRIS</th>
                            <th class="right">RESTANT</th>
                        </thead>
                        <tbody>
                            {{ _self.displayCongesPayes(bulletin.lignes) }}
                            {% set congesPayes = bulletin.congesPayes %}
                            {% set aquis = congesPayes[constant('Assmat\\DataSource\\Constants\\Lignes\\Type::CONGES_PAYES_ACQUIS')] %}
                            {% set pris = congesPayes[constant('Assmat\\DataSource\\Constants\\Lignes\\Type::CONGES_PAYES_PRIS')] %}
                            {% set restant = aquis - pris %}
                            <tr>
                                <td>Cumul à ce mois </td>
                                <td class="right">{{ aquis | round(2)}}</td>
                                <td class="right">{{ pris | round(2)}}</td>
                                <td class="right">{{ restant | round(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="heures-semaine" class="column clear">
                    <table class="table">
                        <thead>
                            <th class="left">HEURES/SEMAINE COMPLETE</td>
                            <th class="right">HEURES EFFECTUEES</th>
                            <th class="right">HEURES COMPLEMENTAIRES</th>
                        </thead>
                        <tbody>
                            {% for semaine in bulletin.semainesCompletes %}
                            <tr>
                                <td>{{ semaine | date('d/m/Y')}} au {{ (semaine ~ ' +6 days') | date('d/m/Y')}} (sem. {{ semaine | date('W')}})</td>
                                <td class="right">{{ bulletin.heuresPayeesParSemaine(semaine) }}</td>
                                <td class="right">{{ bulletin.heuresComplementairesParSemaine(semaine) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>

{% macro displayLignes(lignes, type) %}
    {% for ligne in lignes if ligne.contextId == type %}
        <tr>
            <td>{{ ligne.label }}</td>
            <td class="right">{{ ligne.base ? ligne.base | number_format(2, ',', ' ') }}</td>
            <td class="right">{{ ligne.quantite ? ligne.quantite | number_format(2, ',', ' ') }}</td>
            <td class="right">{{ ligne.actionId == 1 ? ligne.valeur | number_format(2, ',', ' ') }}</td>
            <td class="right">{{ ligne.actionId == 2 ? ligne.valeur | number_format(2, ',', ' ') }}</td>
        </tr>
    {% endfor %}
{% endmacro %}
{% macro displayCongesPayes(lignes) %}
    {% set aquis = 0 %}
    {% set pris = 0 %}
    {% for ligne in lignes if ligne.contextId == constant('Assmat\\DataSource\\Constants\\Lignes\\Context::CONGE_PAYE') %}
        {% if ligne.actionId == constant('Assmat\\DataSource\\Constants\\Lignes\\Action::GAIN') %}
            {% set aquis = ligne.valeur %}
        {% endif %}
        {% if ligne.actionId == constant('Assmat\\DataSource\\Constants\\Lignes\\Action::RETENUE') %}
            {% set pris = ligne.valeur %}
        {% endif %}
    {% endfor %}
        <tr>
            <td>Mois en cours</td>
            <td class="right">{{ aquis != 0 ? aquis | number_format(2, ',', ' ') }}</td>
            <td class="right">{{ pris != 0 ? pris | number_format(2, ',', ' ') }}</td>
            <td class="right"></td>
        </tr>
{% endmacro %}
