{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div id="breadcrumb" class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li>Mes contrats</li>
            </ol>
        </div>
    </div>

    {% for employe in employes %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div clas="box-header">
                        <div class="box-name">
                            <i class="fa fa-user"></i> {{ employe.contact.prenom | capitalize }} {{ employe.contact.nom | upper }}
                        </div>
                    </div>
                    <div class="box-content">
                        <table class="table">
                            <thead>
                                <th>Id</th>
                                <th>Nom du contrat</td>
                                <th></th>
                            </thead>
                            <tbody>
                            {% for contrat in employe.contrats %}
                                <tr>
                                    <td><a href="{{ path('admin_contrats_read', { id : contrat.id }) }}">{{ contrat.id }}</a></td>
                                    <td>{{ contrat.nom }}</td>
                                    <td>
                                        <a href="{{ path('admin_bulletins', { contratId : contrat.id }) }}"><i class="fa fa-list"></i></a>
                                        <a href="{{ path('admin_bulletins_new', { contratId : contrat.id }) }}"><i class="fa fa-plus-square-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}