{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div id="breadcrumb" class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li>Mes contrats</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div id="actions" class="box-content">
                    <a class="btn btn-label-left btn-primary" href="">
                        <span><i class="fa fa-plus-square-o"></i></span> Ajouter un employé
                    </a>
                </div>
            </div>
        </div>
        {% if employeur and employeur.employes is not empty %} 
            <h3>Liste des employes</h3>
            {{ _self.displayContrats(employeur.employes) }}
        {% endif %}
        {% if employe and employe.employeurs is not empty %}
            <h3>Liste des employeurs</h3>
            {{ _self.displayContrats(employe.employeurs) }}
        {% endif %}
    </div>

{% endblock %}

{% macro displayContrats(elements) %}

    {% for element in elements %}
        <div class="col-xs-12">
            <div class="box">
                <div clas="box-header">
                    <div class="box-name">
                        <i class="fa fa-user"></i> {{ element.contact.prenom | capitalize }} {{ element.contact.nom | upper }}
                    </div>
                </div>
                <div class="box-content">
                    <table class="table">
                        <thead>
                            <th>Id</th>
                            <th>Nom du contrat</td>
                            <th></th>
                        </thead>
                        <tbody>
                        {% for contrat in element.contrats %}
                            <tr>
                                <td><a href="{{ path('admin_contrats_read', { id : contrat.id }) }}">{{ contrat.id }}</a></td>
                                <td>{{ contrat.nom }}</td>
                                <td>
                                    <a href="{{ path('admin_bulletins', { contratId : contrat.id }) }}"><i class="fa fa-list"></i></a>
                                    <a href="{{ path('admin_evenements_list', { contratId : contrat.id, mois : date() | date('m'), annee : date() | date('Y')}) }}"><i class="fa fa-calendar"></i></a>
                                    {% if contrat.isGrantedEmployeur(app.security.token.user.contact) %}
                                    <a href="{{ path('admin_bulletins_new', { contratId : contrat.id, mois : date() | date('m'), annee : date() | date('Y')}) }}"><i class="fa fa-plus-square-o"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}

{% endmacro %}