{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div id="breadcrumb" class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_index') }}">Dashboard</a></li>
                <li>Mes contrats</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div id="actions" class="box-content">
                    <a class="btn btn-label-left btn-primary" href="{{ path('admin_contrats_new') }}">
                        <span><i class="fa fa-plus-square-o"></i></span> Ajouter un contrat
                    </a>
                </div>
            </div>
        </div>
        {% if employeur and employeur.contrats is not empty %}
        <div class="col-xs-12">
            <div class="box">
                <div clas="box-header">
                    <div class="box-name">
                        <i class="fa fa-user"></i> En tant qu'employeur
                    </div>
                </div>
                <div class="box-content">
                    <table class="table">
                        <thead>
                            <th>Nom du contrat</td>
                            <th>Nom de l'employé</th>
                        </thead>
                        <tbody>
                        {% for contrat in employeur.contrats %}
                            {{ _self.displayContrat(contrat, contrat.employe) }}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% if employe and employe.contrats is not empty %}
        <div class="col-xs-12">
            <div class="box">
                <div clas="box-header">
                    <div class="box-name">
                        <i class="fa fa-user"></i> En tant qu'employé
                    </div>
                </div>
                <div class="box-content">
                    <table class="table">
                        <thead>
                            <th>Nom du contrat</td>
                            <th>Nom de l'employeur</th>
                        </thead>
                        <tbody>
                        {% for contrat in employe.contrats %}
                            {{ _self.displayContrat(contrat, contrat.employeur) }}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% macro displayContrat(contrat, contratContact) %}
    <tr>
        <td>{{ contrat.nom }}</td>
        <td>{{ contratContact.contact.nom | upper }} {{ contratContact.contact.prenom | capitalize }}</td>
        <td>
            <a href="{{ path('admin_bulletins', { contratId : contrat.id }) }}"><i class="fa fa-list"></i></a>
            <a href="{{ path('admin_evenements_contrat_list', { contratId : contrat.id, mois : date() | date('m'), annee : date() | date('Y')}) }}"><i class="fa fa-calendar"></i></a>
            {% if contrat.isGrantedEmployeur(app.security.token.user.contact) %}
            <a href="{{ path('admin_bulletins_new', { contratId : contrat.id, mois : date() | date('m'), annee : date() | date('Y')}) }}"><i class="fa fa-plus-square-o"></i></a>
            <a href="{{ path('admin_contrats_edit', { id : contrat.id }) }}"><i class="fa fa-pencil"></i></a>
            {% endif %}
            
        </td>
    </tr>
{% endmacro %}