<p>Bonjour {{ contact.prenom }},</p>
<p>Suite à votre demande de récupération, un nouveau mot de passe vient d'être généré :</p>
<p><b>{{ password }}</b></p>
<p>Nous vous invitons modifier ce mot de passe par le votre dans votre profil en suivant le lien suivant :</p>
<p><a href="http://{{ baseUrl }}{{ path('admin_profiles_password_edit') }}">Modifier votre mot de passe</a>.</p>
<p>------</p>
<p>À très bientôt sur {{ baseUrl }}.</p>