<p>Bonjour {{ contact.prenom }},</p>
<p>Vous venez de créer un compte sur {{ baseUrl }}.</p>
<p>Vous pouvez vous connecter avec votre email et le mot de passe suivant :</p>
<p><b>{{ parameters.password }}</b></p>
<p>Nous vous invitons à modifier ce mot de passe dans votre profil en suivant le lien suivant :</p>
<p><a href="http://{{ baseUrl }}{{ path('admin_profiles_password_edit') }}">Modifier votre mot de passe</a>.</p>
<p>------</p>
<p>À très bientôt sur {{ baseUrl }}.</p>